@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+SA+Beginner&display=swap');
/* font-family: 'Bree Serif', serif;
font-family: 'Edu SA Beginner', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+SA+Beginner&family=Tektur&display=swap');
/*font-family: 'Bree Serif', serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Tektur', cursive;
*/

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
.paa{
    width: 100vw;
    height: 20vh;
    background-image: url(/Tarea/imgg/looo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:  30px; 
    padding-left: 5%;
    padding-right: 10%;
    font-weight: bold;
    font-size: 30px;
}
.paa img{
    width: 130px;
    right: 130px;
    border-radius: 100%;
}



ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    color: aqua;
}
.habla{
    
    flex-direction: column;
    display: flex;
    color: black;
    font-weight: bold;
    justify-content: space-between;
    margin-top: -460px;
    margin-left: 100px;
    
    
    
}
.habla pre{
    font-family: 'Bree Serif', serif;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 25px;
}
.habla h1{
    font-size: 80px;
    font-family: 'Bree Serif', serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Tektur', cursive;
}
.habla h2{
    font-size: 60px;
    font-family: 'Bree Serif', serif;
    font-family: 'Edu SA Beginner', cursive;
    
}
.ima{
    margin-left: 950px;
    margin-top: 100px;
}
.ima img{
    width: 700px;
    height: 500px;
    border-radius: 40px;
}
input{
    width: 500px;
    height: 35px;
    border-radius: 40px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
button{
    width: 200px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: left;
}
.sd{
    display: flex;
    margin-left: 140px;
    
}
button:hover{
    background-color: yellow;
    color: black;
    
}
